In [21]:
import pandas as pd
import numpy as np
d= pd.Series([4,2,-35,100])

In [22]:
d= pd.Series([1,4,2,-100], index = ['a','b','c','d'])
d

a      1
b      4
c      2
d   -100
dtype: int64

In [23]:
print (d*2,"\n----")
print(np.sqrt(d))

a      2
b      8
c      4
d   -200
dtype: int64
----
a    1.000000
b    2.000000
c    1.414214
d         NaN
dtype: float64

C:\Users\Anthony Fung\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pandas\core\arraylike.py:402: RuntimeWarning: invalid value encountered in sqrt
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [24]:
print('b' in d)

True

In [28]:
prov_dict = {"Ontario":70000, "Quebec":45000, "British Columbia":29500}
# creating a series given a dictionary
provinces = pd.Series(prov_dict)
provinces
#Ordered based on the dicitonary keys, you can override this by passing a custom index order
#Here, value in prov_dict were placed in the appropriate locations but as no value of "Alberta" was found, it insertered "NaN"

Ontario             70000
Quebec              45000
British Columbia    29500
dtype: int64

In [30]:
prov_code = ["Quebec","Ontario","Alberta"]
prov2 = pd.Series(prov_dict, index=prov_code)
prov2

Quebec     45000.0
Ontario    70000.0
Alberta        NaN
dtype: float64

In [32]:
data = {"provinces": ["Ontario", "Ontario", "ontario", "Alberta", "Alberta", "Alberta"],
"year":[2010,2011,2012,2011,2012,2013], "pop":[13.1,12.9,14.6,3.6,4.3,4.0]}
frame = pd.DataFrame(data);
frame

  provinces  year   pop
0   Ontario  2010  13.1
1   Ontario  2011  12.9
2   ontario  2012  14.6
3   Alberta  2011   3.6
4   Alberta  2012   4.3
5   Alberta  2013   4.0

In [37]:
val = pd.Series([-1.2,-1.5,-1.7], index = [2,4,"five"])
frame["Birth Rate"] = val
frame

  provinces  year   pop  Birth Rate
0   Ontario  2010  13.1         NaN
1   Ontario  2011  12.9         NaN
2   ontario  2012  14.6        -1.2
3   Alberta  2011   3.6         NaN
4   Alberta  2012   4.3        -1.5
5   Alberta  2013   4.0         NaN

In [ ]:
# del frame["us_western"]